.me {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.me-img-container {
  margin: 0 auto;
  height: 60vh;
  width: 200px;
}

@screen sm {
  .me-img-container {
    height: 67vh;
  }
}
